<div class="article">
  <div class="container">
    <div class="content">
      <h1>Коротко о продукции</h1>
      <h5>Администрация Protect&Feed</h5>
      <p>Уважаемые друзья!</p>
      <p>
        На данном ресурсе мы предлагаем эффективные средства для гигиены вымени
        крс и мрс (предупреждение и профилактика маститов, папиломатозов),
        профилактики заболевания копыт, промывки и дезинфекции доильного
        оборудования; предлагаем следующие средства:
      </p>
      <ul>
        <li>
          Doctorhoof Concentrate функциональное средство для копытных ванн:
          эффективно очищает и дезинфицирует раны подошвы, мякиша, меж копытной
          щели, венчика копыта. ускоряет регенерацию повреждённых участков и
          заживляемость мелких ран. способствует быстрой грануляции ран.
          уплотняет роговую структуру копыта. является комплексной профилактикой
          заболевания копыт.
        </li>
        <li>Cristaldry Active Acid кислотное моющее средство;</li>
        <li>
          Cristaldry Active Alkali щелочное моющее средство с дезинфицирующим
          эффектом: предназначено для очистки и дезинфекции оборудования
          (молокопроводов, доильных аппаратов, баков, танков-охладителей,
          инвентаря) от белковых, жировых и комбинированных органических
          загрязнений. раствор может быть использован при ручной и машинной
          мойке полов в помещениях.
        </li>
        <li>
          Cristaldry Universal Active Alkali пенное щелочное средство с
          дезинфицирующим эффектом;
        </li>
        <li>
          Dermalactis Hgs Classic готовое средство для обработки сосков вымени
          перед доением на основе хлоргексидина
        </li>
        <li>
          Dermalactis Hgs Dip специальное гигиеническое средство для обработки
          сосков вымени после доения на основе хлоргексидина: средство обладает
          ранозаживляющими, смягчающим свойствами, не оказывает раздражающего
          воздействия, обеспечивает защиту от патогенных микроорганизмов и
          проникновение болезнетворных бактерий в сосковый канал. образует
          защитную плёнку. используется для профилактики заболеваний маститом и
          папиломатозом.
        </li>
        <li>
          Dermalactis Iodine Classic готовое средство для обработки сосков
          вымени перед доением на основе йода
        </li>
        <li>
          Dermalactis Iodine Dip специальное гигиеническое средство для
          обработки сосков вымени после доения на основе активного йода
        </li>
        <li>
          Dermalactis Lactic Acid - Automatic универсальное средство для
          обработки сосков вымени до и после доения на основе молочной кислоты.
        </li>
      </ul>
    </div>
  </div>
</div>
