<div class=catalogue id="catalog">
    <div class="container m-t-60">
        <div class="content">
            <h2 class="title">Каталог</h2>
            <div class="catalogue__goods">
                //= products/product.html
                //= products/product.html
                //= products/product.html
                //= products/product.html
                //= products/product.html
                //= products/product.html
                //= products/product.html
                //= products/product.html
                //= products/product.html
            </div>
        </div>
    </div>
</div>