<div class="contacts" id="contacts">
    <div class="container">
        <div class="content m-t-60">
            <h2 class="title">Контакты</h2>
            <div class="flex">
                <img class="contacts__img" src="./img/cow-2.png" alt="Изображение коровы">
                <div class="contacts__info">
                    <div class="flex">
                        <div class="info-number">
                            <p class="contacts__description">Звоните нам:</p>
                            <a class="number" href="tel: +7 (964) 935-85-24">+7 (964) 935-85-24</a>
                        </div>
                        <div class="info-news">
                            <p class="contacts__description">Следите за новостями:</p>
                            <div class="info-news__social-networks">
                                <a href=""><img class="social-networks__item" src="./img/facebook.png"
                                        alt="facebook"></a>
                                <a href=""><img class="social-networks__item" src="./img/vk.png" alt="VK"></i></a>
                                <a href=""><img class="social-networks__item" src="./img/instagram.png"
                                        alt="instagram"></a>
                                <a href=""><img class="social-networks__item" src="./img/youtube.png" alt="youtube"></a>
                            </div>
                        </div>
                    </div>
                    <div class="contacts__form">
                        <p class="contacts__description m-t-48">Предварительный заказ:</p>
                        <input class="contacts__form-input" type="text" name="name" id="name" placeholder="Имя"><br>
                        <input class="contacts__form-input" type="email" name="email" id="email" placeholder="Email">
                        <input class="contacts__form-input m-l-24" type="text" name="number" id="number"
                            placeholder="+7 (___) -___-__-__"><br>
                        <input class="contacts__form-input contacts__form-comment" type="text" name="comment"
                            id="comment" placeholder="Комментарий">
                    </div>
                    <button class="button button-black" onclick="">Отправить</button>
                </div>
            </div>
        </div>
    </div>
</div>