<div class="contacts" id="contacts">
  <div class="container">
    <div class="content m-t-60">
      <h2 class="title">Контакты</h2>
      <div class="flex contacts-container">
        <img
          class="contacts__img"
          src="./img/cow-2.png"
          alt="Изображение коровы"
        />
        <div class="contacts__info">
          <div class="flex contacts__info-wrapper">
            <div class="info-number">
              <p class="contacts__description">Звоните нам:</p>
              <a class="number" href="tel: +7 (964) 935-85-24"
                >+7 (964) 935-85-24</a
              >
            </div>
            <div class="info-news">
              <p class="contacts__description">Следите за новостями:</p>
              <div class="info-news__social-networks">
                <a
                  href="https://www.facebook.com/profile.php?id=100042135592432"
                  target="_blank"
                  ><img
                    class="social-networks__item"
                    src="./img/facebook.png"
                    alt="facebook"
                /></a>

                <a href="https://vk.com/id523357201" target="_blank"
                  ><img
                    class="social-networks__item"
                    src="./img/vk.png"
                    alt="VK"
                /></a>
                <a href="https://www.instagram.com/protectfeed/" target="_blank"
                  ><img
                    class="social-networks__item"
                    src="./img/instagram.png"
                    alt="instagram"
                /></a>

                <a
                  href="https://www.youtube.com/channel/UCzt2k7UdYGa8tynfoCzcLlg?view_as=subscriber"
                  target="_blank"
                  ><img
                    class="social-networks__item"
                    src="./img/youtube.png"
                    alt="youtube"
                /></a>
              </div>
            </div>
          </div>
          <!-- gigienakrs@yandex.ru -->
          <div class="contacts__form">
            <p class="contacts__description pre-order">
              Предварительный заказ:
            </p>
            <div>
              <input
                class="contacts__form-input"
                v-model="contactForm.name.value"
                type="text"
                name="name"
                id="name"
                placeholder="Имя"
                tabindex="1"
              />
              <span
                v-text="contactForm.name.alert"
                class="contacts__form-input-error"
              ></span>
            </div>

            <div class="contacts__form-input-group">
              <div>
                <input
                  class="contacts__form-input"
                  v-model="contactForm.email.value"
                  type="email"
                  name="email"
                  id="email"
                  placeholder="Email"
                  tabindex="2"
                /><span
                  v-text="contactForm.email.alert"
                  class="contacts__form-input-error"
                ></span>
              </div>

              <div>
                <input
                  class="contacts__form-input"
                  v-model="contactForm.phone.value"
                  type="text"
                  name="number"
                  id="number"
                  placeholder="+7 (___) -___-__-__"
                  tabindex="3"
                /><span
                  v-text="contactForm.phone.alert"
                  class="contacts__form-input-error"
                ></span>
              </div>
            </div>

            <div>
              <textarea
                class="contacts__form-input contacts__form-comment"
                v-model="contactForm.message.value"
                type="text"
                name="comment"
                id="comment"
                placeholder="Комментарий"
                tabindex="4"
              ></textarea
              ><span
                v-text="contactForm.message.alert"
                class="contacts__form-input-error"
              ></span>
            </div>
          </div>
          <button
            @click="prepareMailAndSend('contactForm')"
            class="button button-black"
            tabindex="5"
            v-if="!contactFormResult"
          >
            Отправить
          </button>
          <span v-else v-text="contactFormResult"></span>
        </div>
      </div>
    </div>
  </div>
</div>
