<div class="footer">
  <div class="container">
    <div class="content">
      <div class="flex col">
        <a href="/index.html"
          ><img class="footer__logo" src="./img/Logo.png" alt="Логотип"
        /></a>
        <div class="footer__dealers">
          <h4 class="dealers__header" id="dealers">Дилеры</h4>
          <div class="dealers__wrapper flex">
            <a
              title="Евгений 8 (905) 472-33-30"
              href="tel:8 (905) 472-33-30"
              class="grey-text"
              >Южный округ</a
            >
            <a
              title="Умар 8 (903) 422- 57-57"
              href="tel:8 (903) 422- 57-57"
              class="grey-text"
              >Северо-Кавказский округ</a
            >
            <a
              title="Александр 8 (963) 856-56-57"
              href="tel:8 (963) 856-56-57"
              class="grey-text"
              >Уральский округ</a
            >
            <a
              title="Екатерина 8 (913) 242-18-22"
              href="tel:8 (913) 242-18-22"
              class="grey-text"
              >Сибирский округ</a
            >
            <a
              title="Венера 8 (987) 290-83-41"
              href="tel:8 (987) 290-83-41"
              class="grey-text"
              >Приволжский округ</a
            >
            <a
              title="Евгений 8 (905) 472-33-30"
              href="tel:8 (905) 472-33-30"
              class="grey-text"
              >Центральный округ</a
            >
            <a
              title="Евгений 8 (905) 472-33-30"
              href="tel:8 (905) 472-33-30"
              class="grey-text"
              >Северо-Западный округ</a
            >
            <a
              title="Евгений 8 (905) 472-33-30"
              href="tel:8 (905) 472-33-30"
              class="grey-text"
              >Дальневосточный округ</a
            >
          </div>
        </div>
      </div>
      <div class="footer__info flex">
        <a class="grey-text no-m" href="/about.html">Коротко о продукции</a>
        <p class="date">Gigiena © <span v-text="getCurrentYear">2020</span></p>
        <a class="grey-text no-m" href="/policy.html">Политика компании</a>
      </div>
    </div>
  </div>
</div>
