<div class="footer">
    <div class="container">
        <div class="content">
            <div class="flex">
                <img class="footer__logo" src="./img/Logo.png" alt="Логотип">
                <div class="footer__dealers">
                    <h4 class="dealers__header" id="dealers">Дилеры</h4>
                    <div class="dealers__wrapper flex">
                        <div class="dealers__column">
                            <p class="grey-text">Сибирский округ</p>
                            <p class="grey-text">Уральский округ</p>
                        </div>
                        <div class="dealers__column">
                            <p class="grey-text">Сибирский округ</p>
                            <p class="grey-text">Сибирский округ</p>
                        </div>
                        <div class="dealers__column">
                            <p class="grey-text">Центральный округ</p>
                            <p class="grey-text">Северокавказский округ</p>
                        </div>
                        <div class="dealers__column">
                            <p class="grey-text">Центральный округ</p>
                            <p class="grey-text">Северокавказский округ</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__info flex">
                <a class="grey-text" href="">Коротко о продукции</a>
                <p class="date">Gigiena © 2020</p>
                <a class="grey-text" href="">Политика компании</a>
            </div>
        </div>
    </div>
</div>
</div>