<div class="hat" id="home">
  <div class="container">
    <div class="content">
      <img class="hat__logo" src="./img/Logo.png" alt="Логотип" />

      <div class="spacer"></div>
      <h1 class="hat__title">
        <p class="hat__title-pre">Специальные</p>
        гигиенические средства
        <p class="hat__title-post">
          для обработки вымени и ухода за копытами КРС и МРС
        </p>
      </h1>
      <div class="hat__tel-wrapper flex">
        <button class="button">Обратный звонок</button>
        <a class="hat__tel" href="tel: +7 (964) 935-85-24"
          >+7 (964) 935-85-24</a
        >
      </div>
      <nav class="hat__menu">
        <a class="hat__menu-item" href="#home">Главная</a>
        <a class="hat__menu-item" href="#catalog">Каталог</a>
        <a class="hat__menu-item" href="#order">Как сделать заказ</a>
        <a class="hat__menu-item" href="#dealers">Дилеры</a>
        <a class="hat__menu-item" href="#contacts">Контакты</a>
      </nav>
    </div>
  </div>
</div>
