<div class="order" id="order">
    <div class="container">
        <div class="content m-t-60">
            <div class="content-position">
                <div class="order-info">
                    <h2 class="order-title">Как сделать заказ?</h2>
                    <p class="order-description">Текст-заменитель: партнёрское предприятие по&nbsp;производству кормовых
                        добавок для лошадей
                        и&nbsp;торговая марка Classic Horse Nutrition предлагает Вашему вниманию качественных
                        и&nbsp;эффективных кормовых добавок для лошадей.
                        Вся продукция разработана и&nbsp;изготовлена при помощи наших партнёров из&nbsp;Швейцарии,
                        Австрии,
                        Канады, России, поставляющих высококлассные и&nbsp;эффективные витамнно&#8209;минеральные
                        комплексы,
                        пробиотики, аминокислоты, антиоксиданты, современные инактиваторы микотоксинов в&nbsp;кормах
                        и&nbsp;другие компоненты, позволяющие сбалансировать и&nbsp;изготовить действительно продукт
                        высокого качества.</p>
                </div>
                <img class="cow-1" src="./img/cattle-1.png" alt="Фото коровы">
            </div>
        </div>
    </div>
</div>