<div class="order" id="order">
  <div class="container">
    <div class="content m-t-60">
      <div class="content-position">
        <div class="order-info">
          <h2 class="order-title">Как сделать заказ?</h2>
          <p class="order-description">
            Заказать товар можно непосредственно на сайте заполнив форму
            предварительного заказа либо заказав обратный звонок. Через
            некоторое время с вами свяжется специалист для уточнения деталей
            заказа и ответит на все ваши вопросы касательно продукции. После
            подтверждения заказа составляется договор с клиентом и выставляется
            счёт на оплату. <br /><br />
            Доставка, скидки и бонусы обсуждаются индивидуально.
          </p>
        </div>
        <img class="cow-1" src="./img/cattle-1.png" alt="Фото коровы" />
      </div>
    </div>
  </div>
</div>
