@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&subset=cyrillic");

/* Adaptive css */

html,
body {
  margin: 0;
  font-family: "Source Sans Pro";
  color: white;
}

.container {
  background-image: url(./img/manada.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
}

.black-block {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
}

.fixed-container {
  max-width: 1100px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.logo {
  height: 100px;
}

.icon {
  height: 22px;
  padding: 0 12px 0 20px;
}

.page-header {
  justify-content: space-between;
  padding-top: 12px;
}

.menu-item {
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
}

.align-items-center {
  align-items: center;
}

.number {
  font-size: 20px;
}

.info-wrapper {
  flex: 1;
  margin-bottom: 112px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-wrapper__title {
  font-size: 62px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.info-wrapper__description {
  font-size: 22px;
  font-weight: 400;
  max-width: 600px;
  margin: 12px 0 32px;
  color: #ddd;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: space-between;
}

.button {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  border-radius: 10px;
  font-size: 22px;
  padding: 12px 25px;
  border: 1px solid;
  cursor: pointer;
}

.green-button {
  background-color: #2a713e;
  border-color: #2a713e;
  transition: 0.2s ease;
}

.margin-12 {
  margin-left: 12px;
}

.transparent-button {
  background-color: transparent;
  transition: 0.2s ease;
}

.transparent-button:hover,
.green-button:hover {
  color: #2a713e;
  background-color: white;
  transition: 0.25s ease-out;
}
@media (min-width: 1150px) {
  .menu-btn__burger {
    display: none;
  }
}

@media (max-width: 1150px) {
  .fixed-container {
    max-width: 950px;
  }
  .menu {
    display: none;
  }
}

@media (max-width: 1000px) {
  .fixed-container {
    max-width: 800px;
  }
}

@media (max-width: 900px) {
  .fixed-container {
    max-width: 650px;
  }
}

@media (max-width: 750px) {
  .fixed-container {
    max-width: 550px;
  }
  .tel {
    display: none;
  }
  .info-wrapper__title {
    font-size: 48px;
  }
  .info-wrapper__description {
    font-size: 22px;
  }
}

@media (max-width: 630px) {
  .fixed-container {
    max-width: 400px;
  }
}
@media (max-width: 630px) {
  .info-wrapper {
    text-align: center;
    padding: 0 20px;
  }
}
@media (max-width: 630px) {
  .info-wrapper__title {
    font-size: 34px;
  }
}
@media (max-width: 630px) {
  .info-wrapper__description {
    font-size: 16px;
  }
}

@media (max-width: 350px) {
  .buttons-wrapper {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 350px) {
  .margin-12 {
    margin-top: 12px;
  }
}
