.catalogue {
  display: flex;

  &__goods {
    display: flex;
    flex-wrap: wrap;
    margin: 32px -20px -40px;
  }
  //Стили для единицы товара
  .goods-item {
    margin: 20px 16px;
    flex: 1;
    align-items: flex-start;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    &__img {
      width: 160px;
      height: 170px;
      object-fit: cover;
      margin-right: 12px;
      object-position: center;
      border-radius: 12px;
    }

    &__change {
      color: white;
      background-color: #fa4c4c;
      font-weight: bold;
      font-size: 11px;
      padding: 2px 8px;
      display: inline;
      text-align: center;
      border-radius: 4px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      line-height: 120%;
    }

    &__head {
      font-weight: normal;
      font-size: 18px;
      margin-top: 8px;
    }

    &__price {
      font-weight: bold;
    }

    &__volume {
      color: #828ca7;
      margin-left: 8px;
    }
    &__description {
      color: #828ca7;
      max-width: 215px;
      font-size: 14px;
      margin: 0;
    }
    @media (max-width: 992px) {
      &__change {
        font-size: 8px;
        padding: 2px 6px;
      }
      &__img {
        width: 110px;
        height: 110px;
        margin-right: 10px;
      }
      &__head {
        font-weight: normal;
        font-size: 16px;
        margin-top: 6px;
      }

      &__price {
        font-weight: bold;
        font-size: 14px;
      }

      &__volume {
        color: #828ca7;
        margin-left: 8px;
        font-size: 14px;
      }
      &__description {
        color: #828ca7;
        max-width: 215px;
        font-size: 12px;
        margin: 0;
      }
    }
    @media (max-width: 767px) {
      &__change {
        font-size: 12px;
        padding: 2px 8px;
      }
      &__img {
        width: 150px;
        height: 150px;
        margin-right: 14px;
      }
      &__head {
        font-size: 20px;
        margin-top: 6px;
      }

      &__price {
        font-size: 18px;
      }

      &__volume {
        color: #828ca7;
        margin-left: 10px;
        font-size: 18px;
      }
      &__description {
        font-size: 16px;
        margin: 0;
      }
    }

    @media (max-width: 520px) {
      &__img {
        width: 100px;
        height: 120px;
        margin-right: 14px;
      }
    }
  }
}

.m-t--20 {
  margin-top: -20px;
}
//Стили для модального окна
.modal-window {
  position: fixed;
  width: 100%;
  z-index: 50;
  background-color: rgba($color: #000000, $alpha: 0.5);
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  padding: 50px;
  height: calc(100vh + 20px);
  align-items: flex-start;

  &-wrapper {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
  }

  &.active {
    display: flex;
  }

  &__product {
    align-items: flex-start;
  }
  &__content {
    background-color: white;
    border-radius: 8px;
    padding: 40px 40px 60px;
    position: relative;
    margin: 20px;
    width: 100%;
    max-width: 680px;
    overflow-y: scroll;
    margin: auto;
    max-height: calc(100vh - 80px);
  }

  &__close {
    z-index: 50;
    position: absolute;
    top: 26px;
    right: 16px;
    width: 14px;
    cursor: pointer;
  }

  &__change {
    color: white;
    background-color: #fa4c4c;
    font-weight: bold;
    font-size: 11px;
    padding: 2px 8px;
    display: inline;
    text-align: center;
    border-radius: 4px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 120%;
  }
  &__img {
    width: 150px;
    object-fit: cover;
    margin-right: 12px;
    object-position: center;
    height: 220px;
    border-radius: 12px;
  }
  &__head {
    font-weight: normal;
    font-size: 32px;
    margin-top: 8px;
  }

  &__price {
    font-weight: bold;
    font-size: 24px;
    &.small {
      font-weight: 400;
      font-size: 14px;
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }

  &__volume {
    color: #828ca7;
    margin-left: 12px;
    font-size: 24px;
    &.small {
      font-size: 14px;
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }

  &__pricing {
    margin-top: -12px;
    margin-bottom: 12px;

    td {
      padding-bottom: 4px;
      padding-right: 12px;
    }
  }

  &__description {
    color: #828ca7;
    max-width: 455px;
    margin: 0;
  }
  &__menu {
    margin-top: 30px;

    &-item {
      font-size: 18px;
      color: #99a1b6;
      margin-right: 32px;
      cursor: pointer;

      &.active {
        color: black;
        font-weight: bold;
      }
      &__info {
        padding: 0 40px;
        margin-top: 32px;
        width: 100%;
      }
    }
  }
  &__bottom {
    border-top: 1px solid #d8dbe2;
    margin: 0 -40px;
  }
  @media (max-width: 700px) {
    padding: 0;
    &__content {
      margin: 20px 0;
    }
    &__menu {
      flex-wrap: wrap;
    }
    &__bottom {
      margin-top: 20px;
    }
    .little-text {
      margin-top: 32px;
    }
    &__close {
      top: 46px;
    }
  }
  @media (max-width: 645px) {
    .wrapper-button {
      display: flex;
      flex-direction: column;
    }
    .download {
      margin: 20px 0 0 0;
    }
  }
  @media (max-width: 487px) {
    &__product {
      flex-direction: column;
    }
    &__info {
      margin-top: 20px;
    }
  }
  @media (max-width: 380px) {
    &__head {
      font-weight: normal;
      font-size: 26px;
      margin-top: 8px;
    }

    &__price {
      font-weight: bold;
      font-size: 18px;
    }

    &__volume {
      color: #828ca7;
      margin-left: 12px;
      font-size: 18px;
    }
    &__description {
      color: #828ca7;
      max-width: 455px;
      margin: 0;
      font-size: 14px;
    }
    .button.button-black.button-little {
      font-size: 14px;
      padding: 8px 10px;
      margin: 5px;
    }

    &__menu {
      flex-direction: column;
      margin-top: 10px;

      &-item__info {
        margin: 0 -20px;
      }
    }
  }
}
.button.button-black.button-little {
  font-size: 16px;
  padding: 10px 20px;
}

.download {
  color: red;
  text-decoration: none;
  margin-left: 32px;
  cursor: pointer;
}

.wrapper-button {
  margin-top: 24px;
}

.little-text {
  font-size: 12px;
  color: #99a1b6;
  margin-top: 12px;
}

.menu-item__info-title {
  font-size: 14px;
  color: #828ca7;
  font-weight: bold;
}

.menu-item__info {
  font-size: 14px;
}

.wrapper_menu-items {
  display: flex;
  justify-content: space-between;
  max-width: 300px;

  &.list {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 40px;
  }
}
