.contacts {
  display: flex;

  &__description {
    font-weight: bold;
    color: #111111;
  }

  &__info {
    margin-left: 80px;
    max-width: 509px;
  }

  @media (max-width: 1400px) {
    &__img {
      width: 470px;
    }
    &-container {
      align-items: flex-start;
    }
  }
  @media (max-width: 1200px) {
    &__img {
      width: 380px;
    }
    .info-news {
      margin-left: 60px;
    }
    .pre-order {
      margin-bottom: -12px;
    }
  }
  @media (max-width: 993px) {
    &__info-wrapper {
      flex-direction: column;
    }
    .info-news {
      margin: 20px 0 0 0;
    }
    .contacts-container {
      flex-direction: column-reverse;
      margin: auto;
    }
    &__info {
      margin: 20px 0 30px;
    }
    &__img {
      width: 100%;
      padding-top: 10px;
    }
  }
}

.number {
  font-size: 24px;
  color: #828ca7;
  text-decoration: none;
}

.contacts__form {
  margin-bottom: 40px;
  &-input {
    border: none;
    border-bottom: 1px solid #99a1b6;
    font-size: 18px;
    width: 100%;
    padding: 6px;
    margin-top: 32px;
    color: #222;
    font-size: 18px;

    &-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      & > div {
        width: calc(50% - 12px);
      }
    }

    &-error {
      display: block;
      font-size: 13px;
      color: #f33;
      margin-top: 4px;
    }
  }

  &-input::placeholder {
    color: #d8dbe2;
    font-size: 18px;
  }

  &-comment {
    width: 100%;
  }

  @include respond-to(md) {
    &-input {
      &-group {
        & > div {
          width: 100%;
        }
      }
    }
  }
}
.button-black {
  background-color: black;
  border: 1px solid black;
  color: white;
  transition: 0.3s;
  transform: scale(1);
}

.button-black:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.info-news {
  margin-left: 60px;

  &__social-networks {
    margin-left: -12px;
  }
}

.social-networks__item {
  height: 24px;
  margin-left: 12px;
}

@media (max-width: 1400px) {
  .m-l-24 {
    margin-left: 0;
  }
}

.pre-order {
  margin-top: 48px;
}
