.contacts {
  display: flex;

  &__description {
    font-weight: bold;
    color: #111111;
  }

  &__info {
    margin-left: 80px;
  }
}

.number {
  font-size: 24px;
  color: #828ca7;
  text-decoration: none;
}

.contacts__form {
  margin-bottom: 40px;
  &-input {
    border: none;
    border-bottom: 1px solid #99a1b6;
    font-weight: 18px;
    width: 240px;
    padding: 6px;
    margin-top: 32px;
    color: #828ca7;
    font-size: 18px;
  }

  &-input::placeholder {
    color: #d8dbe2;
    font-size: 18px;
  }

  &-comment {
    width: 100%;
  }
}
.button-black {
  background-color: black;
  border: 1px solid black;
  color: white;
  transition: 0.3s;
  transform: scale(1);
}

.button-black:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.info-news {
  margin-left: 60px;

  &__social-networks {
    margin-left: -12px;
  }
}

.social-networks__item {
  height: 24px;
  margin-left: 12px;
}
