.footer {
  border-top: 1px solid #d8dbe2;
  margin-top: 160px;
  padding-top: 40px;

  &__logo {
    width: 165px;
    height: 80px;
  }

  &__dealers {
    margin-left: 65px;
    .dealers__header {
      font-weight: bold;
      font-size: 16px;
      color: #828ca7;
      margin-left: 40px;
      margin-top: 0;
    }
    .dealers__wrapper {
      margin-top: -10px;
    }
  }
  &__info {
    margin-top: 58px;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
    justify-content: space-between;
  }
  @media (max-width: 1200px) {
    .dealers__wrapper {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }
  }
  @media (max-width: 993px) {
    .grey-text {
      margin-left: 0;
    }
    .dealers__header {
      margin-left: 0;
    }
  }
  @media (max-width: 768px) {
    .dealers__wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 6px;
    }
  }
  @media (max-width: 576px) {
    .col {
      flex-direction: column;
    }
    &__dealers {
      margin: 20px;
    }
    &__info {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 20px;
    }
  }
}

.grey-text {
  font-size: 16px;
  color: #828ca7;
  display: inherit;
  margin-left: 40px;
}

.date {
  font-size: 16px;
  color: #828ca7;
}

.dealers__wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}
