.hat {
  height: 100vh;
  display: flex;
  color: white;
  background: url(../img/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;

  &__logo {
    padding-top: 20px;
    margin-left: 30px;
  }

  &__title {
    font-size: 72px;
    position: relative;
    line-height: 70%;
    margin-left: 60px;

    &-pre {
      font-weight: normal;
      font-size: 36px;
    }
    &-post {
      font-weight: normal;
      font-size: 24px;
    }
  }
  &__title::before {
    content: "";
    display: block;
    position: absolute;
    left: -32px;
    top: 64px;
    font-size: 96px;
    background: white;
    height: 116px;
    width: 8px;
  }

  &__tel-wrapper {
    margin-bottom: 30px;
    margin-left: 60px;
  }

  &__tel {
    font-size: 18px;
    margin: 0px 28px;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__menu {
    padding: 48px 4px;
    margin-left: auto;
    &-item {
      text-decoration: none;
      margin: auto 20px;
      font-size: 18px;
    }
  }
}
.button:hover {
  color: white;
  background-color: black;
  transition: 0.25s ease-out;
}
