.content-position {
  display: flex;
  flex-direction: row;
}

.order {
  &-info {
    margin-right: 80px;
  }

  &-title {
    font-size: 48px;
    line-height: 140%;
    color: #222222;
  }
  &-description {
    font-size: 18px;
    line-height: 150%;
    color: #111111;
  }
}
