<div
  id="modal-window-feedback"
  class="modal-window flex"
  :class="{active: isCallModalActive}"
  @click.self="closeCallModal"
>
  <div class="modal-window-wrapper">
    <img
      class="modal-window__close"
      @click="closeCallModal"
      src="./img/close.png"
      alt="Закрыть"
    />
    <div class="modal-window-wrapper modal-feedback">
      <div class="modal-window__content">
        <h2 class="modal-window__title">Заказать обратный звонок</h2>
        <div>
          <div>
            <input
              class="feedback__form-input"
              type="text"
              name="name"
              placeholder="Имя"
              v-model="contactForm.name.value"
              tabindex="1"
            />
            <span
              v-text="contactForm.name.alert"
              class="contacts__form-input-error"
            ></span>
          </div>

          <div>
            <input
              class="feedback__form-input"
              type="text"
              name="number"
              v-model="contactForm.phone.value"
              placeholder="+7 (___) -___-__-__"
              tabindex="3"
            />
            <span
              v-text="contactForm.phone.alert"
              class="contacts__form-input-error"
            ></span>
          </div>
        </div>
        <button
          @click="prepareMailAndSend('contactForm', true)"
          class="button button-black m-t-48"
          onclick=""
          tabindex="5"
          v-if="!callFormResult"
        >
          Отправить
        </button>
        <div class="m-t-20" v-else v-text="callFormResult"></div>
      </div>
    </div>
  </div>
</div>
