<div id="modal-window" class="modal-window close">
    <div class="modal-window__body">
        <div class="modal-window__content">
            <a href="#"><img class="modal-window__close" src="./img/close.png" alt="Закрыть"></a>
            <div class="flex modal-window__product">
                <img class="modal-window__img" src="./img/good.png" alt="Единица товара">
                <div class="modal-window__info-wrapper">
                    <div class="modal-window__info">
                        <p class="modal-window__change">Выбор клиентов</p>
                        <h4 class="modal-window__head">DERMALACTIS Iodine Dip</h4>
                        <span class=" m-t--20 flex">
                            <p class="modal-window__price">950р</p>
                            <p class="modal-window__volume">5л</p>
                        </span>
                        <p class="modal-window__description">Готовое гигиеническое средство для обработки сосков вымени
                            перед доением с обеззараживающим эффектом за счет действия хлоргексидина биглюконата.</p>
                    </div>
                    <div class="wrapper-button">
                        <button class="button button-black button-little" onclick="">Предварительный заказ</button>
                        <a class="download"  href="">Скачать PDF</a>
                    </div>
                    <p class="little-text">Условия доставки, скидки и бонусы обсуждаются индивидуально</p>
                </div>
            </div>
            <div class="flex modal-window__menu">
                <p class="modal-window__menu-item modal-window__menu-item__select">Компоненты</p>
                <p class="modal-window__menu-item">Ингредиенты</p>
                <p class="modal-window__menu-item">Примечание</p>
                <p class="modal-window__menu-item">Рекомендации</p>
            </div>
            <div class="modal-window__bottom">
                <div class="modal-window__menu-item__info">
                    <p class="menu-item__info-title">Аналитические компоненты</p>
                    <div>
                        <div class="wrapper_menu-items">
                            <p class="menu-item__info">pH (1%)</p>
                            <p class="menu-item__info">pH (1%)</p>
                        </div>
                        <div class="wrapper_menu-items">
                            <p class="menu-item__info">Плотность, г/л:</p>
                            <p class="menu-item__info">1,15-1,17 при t 20 °C</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>