<div class="goods__item flex">
    <img class="goods-item__img" src="./img/good.png" alt="Единица товара">
    <div class="goods-item__info">
        <p class="goods-item__change">Выбор клиентов</p>
        <h4 class="goods-item__head">DERMALACTIS Iodine Dip</h4>
        <span class=" m-t--20 flex">
            <p class="goods-item__price">950р</p>
            <p class="goods-item__volume">5л</p>
        </span>
        <p class="goods-item__description">Сбалансированная витаминно-минеральная добавка для
            холостых,
            жерёбых
            кобыл и жеребят после
            отъёма.</p>
    </div>
</div>