body,
html {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  min-height: 100vh;
  margin: 0px;
  color: #222;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
*:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

a {
  color: inherit;
  transition: 0.25s ease;
}

.container {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto [p-start] 30px [c-start] 1200px [c-end] 30px [p-end] auto;
  @include respond-to(xxl) {
    grid-template-columns: auto [p-start] 30px [c-start] 1100px [c-end] 30px [p-end] auto;
  }
  @include respond-to(xl) {
    grid-template-columns: auto [p-start] 30px [c-start] 900px [c-end] 30px [p-end] auto;
  }
  @include respond-to(lg) {
    grid-template-columns: auto [p-start] 30px [c-start] 660px [c-end] 30px [p-end] auto;
  }
  @include respond-to(md) {
    grid-template-columns: auto [p-start] 30px [c-start] 480px [c-end] 30px [p-end] auto;
  }
  @include respond-to(sm) {
    grid-template-columns: [p-start] 15px [c-start] auto [c-end] 15px [p-end];
  }
  & > .content {
    grid-column: c-start/c-end;
  }
}

h1 {
  font-size: 3.2rem;
  margin: 30px 0;
}
h2 {
  font-size: 2.6rem;
  margin: 15px 0;
}
h3 {
  font-size: 2rem;
  margin: 15px 0;
}
h4 {
  font-size: 1.4rem;
  margin: 15px 0;
}
p {
  font-size: 1rem;
  margin: 10px 0;
}

.title {
  font-size: 78px;
  margin-left: 60px;
}

@media (max-width: 992px) {
  .title {
    font-size: 62px;
    margin-left: 30px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 62px;
    margin-left: 0;
  }
}
.ttu {
  text-transform: uppercase;
}

.tac {
  text-align: center;
}

.spacer {
  flex-grow: 1;
}

@media (max-width: 1200px) {
  .spacer {
    flex-grow: 0.6;
  }
}

.button {
  border: none;
  font-size: 18px;
  padding: 16px 28px;
  letter-spacing: 0.05em;
  transition: 0.3s;
  transform: scale(1);
  cursor: pointer;
}

@media (max-width: 480px) {
  .button {
    border: none;
    font-size: 16px;
    padding: 14px 26px;
    letter-spacing: 0.05em;
    transition: 0.3s;
    transform: scale(1);
    cursor: pointer;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex {
  display: flex;
}

.m-l-24 {
  margin-left: 24px;
}

.m-t-60 {
  margin-top: 60px;
}

.m-t-48 {
  margin-top: 48px;
}
